
{% extends 'base.html' %}
{% block title %}Create Contract{% endblock %}

{% block content %}
<div style="max-width: 600px; margin: auto; padding: 20px;">
    <div style="background-color: #f8f9fa; border-radius: 25px; padding: 20px;">
        <h2 style="margin-top: 20px; text-align: center;">Create Contract</h2>
        <form method="post">
            {% csrf_token %}
            <div style="margin-bottom: 20px;">
                <label for="service">Service:</label>
                <select style="width: 100%; padding: 10px; border-radius: 10px; border: 1px solid #ccc;" id="service" name="service" required>
                    {% for service in services %}
                    <option value="{{ service.id }}">{{ service.title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="margin-bottom: 20px;">
                <label for="phone_number">Phone Number:</label>
                <input type="text" style="width: 100%; padding: 10px; border-radius: 10px; border: 1px solid #ccc;" id="phone_number" name="phone_number" required>
            </div>
            <div style="margin-bottom: 20px;">
                <label for="title">Title:</label>
                <select style="width: 100%; padding: 10px; border-radius: 10px; border: 1px solid #ccc;" id="title" name="title" required>
                    {% for choice in contract_choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            </div>
            <div style="margin-bottom: 20px;">
                <label for="description">Description:</label>
                <textarea style="width: 100%; padding: 10px; border-radius: 10px; border: 1px solid #ccc;" id="description" name="description" rows="5" required></textarea>
            </div>
            <button type="submit" style="padding: 5px 10px; border-radius: 10px; background-color: #007bff; color: #fff; border: none; cursor: pointer; transition: background-color 0.3s ease;">Create</button>
        </form>
    </div>
</div>
{% endblock %}
