{% extends 'base.html' %}
{% block title %}Search Technicians{% endblock %}

{% block content %}
<div class="container mt-5">
  <h2>Search Technicians</h2>
  <form class="mt-4" action="{% url 'search_technicians' %}" method="GET">
    <div class="row">
      <div class="col-md-4">
        <input class="form-control mb-2" type="search" placeholder="Name or Service" aria-label="Search" name="q">
      </div>
      <div class="col-md-4">
        <input class="form-control mb-2" type="search" placeholder="Location" aria-label="Location" name="location">
      </div>
      <div class="col-md-4">
        <input class="form-control mb-2" type="search" placeholder="Skill" aria-label="Skill" name="skill">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Search</button>
  </form>

  <hr>

  <h3>Search Results</h3>
  <div class="mt-4">
    {% if technicians %}
    <ul class="list-group">
      {% for technician in technicians %}
      <li class="list-group-item">{{ technician.name }} - {{ technician.email }} - {{ technician.location }}</li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No technicians found.</p>
    {% endif %}
  </div>
</div>
{% endblock %}
