
{% extends 'authorize/base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="login-container" style="width: 300px; margin: 100px auto; background-color: #fff; padding: 20px; border-radius: 8px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);">
    <h2 style="text-align: center; margin-bottom: 20px; color: #333;">Login</h2>
    <form method="post" action="">
        {% csrf_token %}
        <div class="input-group" style="margin-bottom: 20px;">
            <label for="name" style="display: block; margin-bottom: 5px; color: #333;">Username:</label>
            <input type="text" id="email" name="Uname" placeholder="Enter your Username" required style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
        </div>
        <div class="input-group" style="margin-bottom: 20px;">
            <label for="password" style="display: block; margin-bottom: 5px; color: #333;">Password:</label>
            <input type="password" id="password" name="pass1" placeholder="Enter your password" required style="width: 100%; padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 4px;">
        </div>
        <button type="submit" style="width: 100%; padding: 10px; font-size: 16px; color: #fff; background-color: #007bff; border: none; border-radius: 4px; cursor: pointer;">Login</button>
    </form>
    
    <p style="margin-top: 20px;">Didn't have an account? <a href="{% url 'signUp' %}" style="color: #007bff;">Register here</a></p>

    {% if messages %}
        <div id="messages">
            {% for message in messages %}
           
            <div class="message" style="padding: 10px; margin-bottom: 10px; border-radius: 4px; font-size: 14px; {% if message.tags == 'success' %}background-color: #4caf50; color: #fff;{% endif %}{% if message.tags == 'error' %}background-color: #f44336; color: #fff;{% endif %}">
                {{ message }}
            </div>
            
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
