

{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}
<link rel="stylesheet" href="../project style/technician.css">
{% block styles %}
 
{% endblock %}

{% block content %}
<!-- Content of the home page goes here -->
<div class="header">
    <header>
        <h1>Admin Dashboard</h1>
    </header>
</div>
<div class="sidebar">
    <nav>
        <ul>
            <li><a href="./viewusers.html">View Users</a></li> 
            <br>
            <li><a href="./profileapproval.html">Approve Technician Profiles</a></li>
            <br>
            <li><a href="./users.html">Add User</a></li>
            <br>
            <li><a href="./registerrolecategory.html">Register</a></li>
            <br>
            <li><a href="./user1.html">Remove User</a></li>
            
            <li><a href="../technician/viewbooking.html">View Bookings</a></li>
            
            <li><a href="../viewfeedback2.html">View Feedbacks</a></li>
        </ul>
    </nav>
</div>

<div class="main">
    <main>
        <!-- Content will be displayed here -->
    </main>
</div>
<div class="footer">
    <footer>
        <p>&copy; 2024 Technician Dashboard</p>
    </footer>
</div>
{% endblock %}